@import './common';

.handle {
  position: relative; // placeholder
}

.widget {
  float: left;
  margin-left: 20px;
  margin-top: 20px;

  &.widget--placeholder {
    border: 1px dashed lightgray;
    border-radius: 3px;
  }
}

.widgets {
  width: 400px;
}
